.container-full {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  padding: .5em;
}

.container-full h2 {
  margin: 1em 0;
  text-align: center;
  color: #fff;
  background-color: var(--green);
  padding: .5em;
}

.container-full h3 {
  color: var(--darkGreen)
}

.container-full span {
  margin-bottom: 2em;
  margin-top: 6em;
  font-size: .6em;
}

.container-full .button {
  width: 100%;
  margin: auto;
}

@media (min-width: 500px) {
  .container-full .button {
    width: 50%;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .container-full {
    width: 80%;
    margin: auto;
  }
}

@media (min-width: 1200px) {
  .container-full {
    width: 60%;
    margin: auto;
  }
}