/* VARS */

:root {
  --green: rgb(0, 211, 0);
  --darkGreen: rgb(43, 165, 43);
  --hoverGreen: rgb(93, 255, 93);
  --text: rgb(0,0,0,0.7);
  --fontOne: 'Roboto', sans-serif;
  --fontTwo: 'Lobster', cursive;
  --semiTransparent: rgba(0,0,0,0.6)
}

/* RESET */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  max-width: 100vw;
  color: var(--text);
  font-family: var(--fontOne);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a,
a:visited
{
  text-decoration: none;
  font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  font-size: .9em;
}

/* UTILS */

.button {
  border: 2px solid rgb(50, 204, 50);
  padding: .5em 1em;
  font-weight: bold;
  font-family: var(--fontOne);
  background-color: var(--green);
  color: #fff;
  border-radius: .5em;
  cursor: pointer;
}

.button:hover {
  background-color: var(--hoverGreen);
  border-color: var(--hoverGreen);
}

img {
  width: 100%;
  height: auto;
  margin-bottom: -.2em;
}

.quarter-width {
  grid-column: span 1;
  height: 100%;
}

.half-width {
  grid-column: span 2;
  height: 100%;
}

.three-quarter-width {
  grid-column: span 3;
  height: 100%;
}

.full-width {
  grid-column: span 4;
  height: 100%;
}

/* .half-heigth {
  grid-row: span 1;
}

.full-height {
  grid-row: span 2;
} */

.card {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.bold {
  font-weight: bold;
}

/* NAVBAR */

nav {
  width: 100%;
  display: flex;
  border-bottom: 1px solid black;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  position: initial;
  background-color: #fff;
  z-index: 1;
  flex-wrap: wrap;
}

nav ul {
  display: flex;
}

nav a {
  display: block;
  padding: .5em;
  color: var(--text);
}

nav a.button {
  font-size: .8em;
  display: inline-block;
}

nav a:hover {
  color: var(--green);
}

nav h1 {
  margin: 0;
  font-family: var(--fontTwo);
}

nav h1 span {
  color: var(--green);
}

/* HEADER */

header {
  font-family: var(--fontTwo);
  padding: 1em;
  display: flex; 
  align-items: center;
  flex-direction: column;
}

header h1 span {
  color: var(--green);
}

header h1 {
  font-size: 3em;
}


/* GRID */

.grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: .5em;
  padding: 0 .5em;
  margin-bottom: .5em;
}

.img-container {
  position: relative;
}

.transparent-overlay {
  background-color: var(--semiTransparent);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.content {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 2em;
  max-width: 70%;
}

.content h1 span {
  color: var(--darkGreen);
  font-size: 3em;
}

.container {
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, var(--darkGreen), lightgreen);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1em;
}

.form-container {
  max-width: 45%;
  background-color: #fff;
  padding: 1em;
}

.message {
  max-width: 50%;
  color: #fff;
  padding: 1em;
}

form div {
  position: relative;
  margin-bottom: 1em;
}

#register div:first-child {
  display: flex;
}

#register div:first-child div {
  margin: 0;
}

#register div:first-child div:first-child {
  margin-right: .25em;
}

#register div:first-child div:last-child {
  margin-left: .25em;
}

form button {
  width: 100%;
}

input {
  width: 100%;
  padding: .5em;
  border: 2px solid var(--darkGreen);
  border-radius: 5px;
}

input:focus ~ label {
  transform: translate(10%, -140%);
}

input:valid ~ label {
  transform: translate(10%, -140%);
}

input:hover {
  border-color: rgb(28, 109, 28);
}

input:focus {
  outline: none;
  border-color: rgb(28, 109, 28);
}

label {
  display: block;
  background-color: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: .9em;
  color: rgba(0, 0, 0, 0.5);
  transform: translate(10%, -50%);
  transition: all 0.3s ease;
  cursor: text;
}

/* FOOTER */

footer {
  display: flex;
  justify-content: center;
  border-top: 1px solid black;
  font-size: .9rem;
  font-weight: bold;
  width: 100%;
}

footer div {
  margin: 2em;
  display: flex;
  flex-direction: column;
}

footer div i {
  margin-right: .5em;
}

footer h2 {
  margin-bottom: 1em;
  color: var(--darkGreen);
}

footer a,
footer a:visited {
  color: var(--text);
}

/* MEDIA QUERIES */

@media (max-width: 380px) {
  
  nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  #register div:first-child div:first-child {
    margin-right: 0;
    margin-bottom: 1em;
  }

  #register div:first-child div:last-child {
    margin-left: 0;
  }

  #register div:first-child {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 459px) {
  footer {
    flex-direction: column;
  }

  #tomatoes-portrait {
    display: block;
  }

  #tomatoes-landscape {
    display: none;
  }

  #chef-portrait {
    display: block;
  }

  #chef-landscape {
    display: none;
  }

  #vegetables-portrait {
    display: block;
  }

  #vegetables-landscape {
    display: none;
  }

}

@media (min-width: 460px) {
  
  #tomatoes-portrait {
    display: none;
  }

  #tomatoes-landscape {
    display: block;
  }

  #chef-portrait {
    display: none;
  }

  #chef-landscape {
    display: block;
  }

  #vegetables-portrait {
    display: none;
  }

  #vegetables-landscape {
    display: block;
  }

}

@media (max-width: 529px) {
  nav {
    padding-bottom: .5em;
  }
  
  footer {
    font-size: .8rem;
  }
}

@media (max-width: 647px) {
  nav {
    padding: .3em;
  }
}

@media (max-width: 767px) {
  .grid {
    grid-template-columns: 1fr;
    grid-gap: .5em;
  }

  .container {
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
  }

  .form-container,
  .message
  {
    max-width: 100%;
  }

  .content {
    max-width: 100%;
  }

  .three-quarter-width {
    grid-column: span 2;
  }

}


@media (min-width: 768px) and (max-width: 1024px) {
  .content {
    max-width: 100%;
  }

  #article-form {
    grid-column: span 4;
  }
  #article-tomato {
    grid-column: span 2;
  }

}

@media (min-width: 1024px) {
  .grid {
    width: 80%;
    margin: auto;
    margin-bottom: 1em;
  }

  .content {
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .grid {
    width: 60%
  }
}




